<div class="userBody">
    {{> header}}
    <div>
        <p>Lista de Productos</p>
    </div>
    <div>
        <ul>
            {{#each pepes}}
            <li>{{title}} - ${{price}} | stock: {{stock}}</li>
            {{/each}}
        </ul>
    </div>
    <h3>{{lo_no_definido_es_invisible}}</h3>
    <h3>{{dni}}</h3>
    <h3>{{data}}</h3>
    <h3>{{data.name}}</h3>
</div>